.colors {
  border: 3px solid #e6bc21;
}
.option-box .icon,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.prices .box-price button,
.our-team .person img:hover,
.our-team .person .social-icon li,
.scroll-top,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #e6bc21;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a:hover,
.carousel-caption p,
.about h2 span,
.about h3 span,
.services .serve i,
.testmonials span,
.prices .box-price p,
.statistics .state i,
.contact button,
.footer li:hover,
.footer .cont .social li a:hover,
.copy span {
  color: #e6bc21;
}

.carousel-indicators .active,
.contact input[type="text"]:focus,
.contact textarea:focus {
  border: 1px solid #e6bc21;
}
